body {
   padding: 30px;
   border: 3px solid red;
   margin: 0px;
}

body > div{
   border: 3px solid blue;
   padding: 10px;
   margin: 15px;
   background-color: aqua;
   color: purple;
   border-radius: 50px;
   
}
